$class-101-black: #262626;
$class-101-gray: #e8e8e8;


#root {
    .login {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .wrapper {
            width: 272px;
            .logo {
                width: 100%;
                display: flex;
                align-items: center;
            }

            .login-contents {
                margin-top: 16px;
                .custom-inp {
                    &>.title {}
                    font-size: 12px;
                    color: $class-101-black;
                    .inp {
                        margin-top: 4px; // 이메일 칸 사이 간격
                        width: 272px;
                        border-radius: 5px;
                        border: 1px solid $class-101-gray;
                        height: 24px;
                        background-color: white;

                        input{
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            padding: 0;
                            border: none;
                            padding: 0 8px; //0:상하 8:좌우
                            border-radius: 5px;
                        }
                    }
                }

                .password-inp {
                    margin-top: 20px; // 비밀번호 이메일 간격
                }

                .login-btn {
                    width: 100%;
                    height: 34px;
                    background-color: $class-101-black;
                    color: white;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    margin-top: 28px;
                    border: none;
                }
            }

            .go-join {
                margin-top: 12px;
                display: flex;
                align-items: center;
                justify-content: flex-end; // 끝에 붙이겠다는 의미

                &>.title {
                    font-size: 12px;
                    color: $class-101-black;
                    margin-right: 8px;
                }

                &>.asset {
                    width: 32px;
                    display: flex; // 이미지가 상하중앙이 안되기에 넣어준 것
                    align-items: center; // 22
                }
            }
        }
    }
}